# Application Settings
DEBUG=True
HOST=127.0.0.1
PORT=8000

# GitHub Integration
# Providing a Personal Access Token (PAT) increases rate limit from 60 to 5000 requests/hr.
# You can generate one at: https://github.com/settings/tokens
GITHUB_TOKEN=
